.media-img img{
  width: 336px;
  height: auto;
}
.dropdown {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.listgroup {
  width: auto;
}
.card-bg {
  margin-left: 350px;
  margin-right: 350px;
  padding-top: 125px;
  padding-bottom: 125px;
}
.auctionpage-title {
  text-align: center;
  margin-top: 30px;
}
.homepage-title {
  margin-top: 30px;
  text-align: center;
}
.auctionpage-button {
  text-align: center;
  margin-top: 30px;
}
.biddingpage-title {
  text-align: center;
  margin-top: 30px;
}
.uploadpage-title {
  text-align: center;
  margin-top: 30px;
}



